@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100,900);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #eaeaea;
  font-family: "Roboto"; }

core-drawer-panel {
  position: relative; }

.window-dialogs {
  display: none; }

.window-chrome {
  background-color: #00897B;
  color: #FFFFFF;
  height: 32px;
  width: 100%;
  -webkit-app-region: drag; }
  .window-chrome .close-button {
    width: 32px;
    height: 32px;
    -webkit-app-region: no-drag; }
    .window-chrome .close-button:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .window-chrome .header-menu ul {
    list-style: none; }
    .window-chrome .header-menu ul li {
      -webkit-app-region: no-drag;
      display: inline-block; }
      .window-chrome .header-menu ul li span {
        display: block;
        color: #FFFFFF;
        font-size: 12px;
        padding: 9px 10px;
        cursor: default; }
        .window-chrome .header-menu ul li span:hover {
          background-color: rgba(0, 0, 0, 0.1); }
      .window-chrome .header-menu ul li:hover ul {
        display: block !important;
        z-index: 100; }
      .window-chrome .header-menu ul li ul {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 2px;
        margin-top: -1px; }
        .window-chrome .header-menu ul li ul .menu-break {
          padding: 0;
          width: 100%;
          display: block;
          height: 1px;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.1); }
        .window-chrome .header-menu ul li ul li {
          display: block; }
          .window-chrome .header-menu ul li ul li span {
            font-size: 14px;
            padding: 8px 32px 8px 24px;
            color: #333333;
            cursor: pointer; }

.window-controls {
  background-color: red;
  width: 128px;
  float: right; }

.status-bar {
  height: 32px;
  background-color: #00897B;
  color: #FFFFFF;
  font-size: 12px;
  padding: 0 24px; }
  .status-bar .status-right span {
    margin-left: 16px; }

[main] core-toolbar {
  background-color: #009688;
  color: #FFFFFF; }

paper-tab paper-icon-button {
  position: relative;
  z-index: 100; }

[drawer] {
  background-color: #FFFFFF;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000 !important;
  position: relative; }

.c-liSelected {
  background-color: rgba(0, 150, 136, 0.5);
  color: #FFFFFF; }

.c-li {
  padding: 5px; }

treecontrol.tree-classic li .tree-selected {
  background-color: transparent !important; }

.Codemirror {
  position: relative;
  z-index: 0;
  height: calc(100% - 128px) !important;
  font-family: "Source Code Pro" !important; }

.ace-editor {
  position: relative;
  z-index: 0;
  height: calc(100% - 128px) !important;
  width: 100%; }

/*# sourceMappingURL=app.css.map */
