<section flex class="header-menu">
  <ul>
    <li>
      <span>File</span>
      <ul>
        <li>
          <span>New Project</span>
        </li>
        <li ng-click="showFileDialog()">
          <span>Open File</span>
        </li>
        <li ng-click="showFolderDialog()">
          <span>Open Folder</span>
        </li>
        <li>
          <span>Save</span>
        </li>
        <li>
          <span>Save As...</span>
        </li>
        <li>
          <span>Save All</span>
        </li>
        <li class="menu-break"></li>
        <li>
          <span>New Window</span>
        </li>
        <li>
          <span>Close Window</span>
        </li>
        <li class="menu-break"></li>
        <li>
          <span>Close File</span>
        </li>
        <li>
          <span>Close All Files</span>
        </li>
        <li class="menu-break"></li>
        <li>
          <span>Exit</span>
        </li>
      </ul>
    </li>
    <li>
      <span>Edit</span>
      <ul>
        <li>
          <span>Undo</span>
        </li>
        <li>
          <span>Redo</span>
        </li>
        <li class="menu-break"></li>
        <li>
          <span>Cut</span>
        </li>
        <li>
          <span>Copy</span>
        </li>
        <li>
          <span>Paste</span>
        </li>
        <li>
          <span>Select All</span>
        </li>
      </ul>
    </li>
    <li>
      <span>View</span>
    </li>
    <li>
      <span>Selection</span>
    </li>
    <li>
      <span>Find</span>
    </li>
    <li>
      <span>Help</span>
    </li>
  </ul>
</section>
